<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Add</title>
  </head>
  <body>
    <form action="/students/add" method="post">
      <label for="user_name">User Name</label>
      <input type="text" name="user_name" /><br />
      <label for="password">Password</label>
      <input type="password" name="password" /><br />
      <label for="first_name">First Name</label>
      <input type="text" name="first_name" /><br />
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" /><br />
      <label for="birth_year">Birth Year</label>
      <input type="text" name="birth_year" /><br />
      <label for="IPK">IPK</label>
      <input type="text" name="IPK" /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
