<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subject Edit</title>
  </head>
  <body>
    <form action="/subjects/<%= data.id %>/edit" method="post">
      <label for="subject_name">Subject Name</label>
      <input
        type="text"
        name="subject_name"
        value="<%= data.subject_name %> "
      /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
